a:hover {
  color: black;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

.nav-item {
  margin: auto;
}

.dropdown-menu {
  padding: 0px;
}

.dropdown-menu li {
  padding: 5px 10px;
}

.nav-item {
  margin: auto;
  margin-left: 30px;
}

.nav-item a:hover {
  color: #f76600 !important; 
}

section {
  margin: 80px 0px;
}

.slider-img {
  width: 100%;
}